.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(68, 165, 255);
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 20px;
  color: rgb(229, 242, 253);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 10px;
  background-color: #444;
  border: none;
  color: white;

}